header {
  text-align: center;
  background: black;
  color: white;
}

body {
  background: #a9a9a9;
  margin: 0;
}

h2 {
  text-align: center;
}

header h1 {
  margin: 0;
  padding: .3em;
}

table {
  border: 1px solid black;
  margin: 2em auto;
}

td, tr {
  background-color: grey;
}

thead th {
  white-space: nowrap;
  margin: 2px;
}

tbody td {
  padding: 4px; 
}

.table-button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 1em;
  background: transparent;
  border: none;
  position: relative;
}

.hidden {
  opacity: 0;
}

#sort-up, #sort-down {
  position: absolute;
  top: 10px;
}